<div class="album py-5">
  <div class="container">
    <div id="neighboorhood-id-container" class="hide" data-nid="<%= @neighboorhood_id %>"></div>
    <div class="row">

    </div>
  </div>

  <%= javascript_pack_tag 'neighbourhood_details', 'data-turbolinks-track': 'reload' %>
</div>